@import "tailwindcss";

@font-face {
  font-family: 'InterDisplay';
  src: url('/Font/InterDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'InterDisplay ExtraLight';
  src: url('/Font/InterDisplay-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Canela Light';
  src: url('/Font/Canela-Light-Trial.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'InterDisplay Bold';
  src: url('/Font/InterDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter-display: 'InterDisplay', sans-serif;
  --font-inter-bold: 'InterDisplay Bold', sans-serif;
  --font-canela: 'Canela Light', serif;
  --font-ppneue: 'PP Neue Montreal', sans-serif;
  --font-switzer: 'Switzer', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter-display);
}
@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/Font/ppneuemontreal-medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Switzer';
  src: url('/Font/Switzer-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

